version: "3.9"

services:
  api:
    build: .
    container_name: api_estudiantes
    ports:
      - "8001:8000"
    volumes:
      - estudiantes_data:/app
    restart: unless-stopped

volumes:
  estudiantes_data:
